/** @format */

.text {
    font-size: 20px;
    /* Base size for mobile */
    font-weight: 700;
    font-family: "Cormorant Garamond", serif;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;

    /* Responsive font sizes */
    @media (min-width: 640px) {
        font-size: 28px;
        /* sm screens */
    }

    @media (min-width: 768px) {
        font-size: 34px;
        /* md screens */
    }

    @media (min-width: 1024px) {
        font-size: 42px;
        /* lg screens */
    }

    @media (min-width: 1280px) {
        font-size: 48px;
        /* xl screens */
    }

    @media (min-width: 1536px) {
        font-size: 58px;
        /* 2xl screens */
    }
}

#webgl canvas {
    mix-blend-mode: difference;
}